{% extends 'base.html' %}

{% block content %}
{% for director in director_list %}
    {% for colname in director.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-1">
    <div class="col">
        <div class="d-flex align-items-center justify-content-between my-2">
            <h2 class="text-center">My Directors</h2>
            <a href="{% url 'director_create' %}" class="btn btn-primary rounded-pill">
                <i class="fa-solid fa-circle-plus"></i> Add New
            </a>
        </div>
        <table class="table table-bordered mt-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Films</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            
                {% for director in director_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td class="text-center">
                        <a href="{% url 'director_detail' director.id %}" class="text-decoration-none">
                            {{director.name}}
                        </a>
                    </td>
                    <td>{{director.email}}</td>
                    <td class="text-center">
                        {% for film in director.film_set.all %}
                        <span class="badge bg-primary">{{ film.title }}</span>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'director_update' director.id %}" class="mx-2 fs-6 text-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'director_delete' director.id %}" class="fs-6 text-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>    
    </div>
        
</div>

{% endblock content %}