{% extends 'base.html' %}

{% block content %}

<div class="container mt-3" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Director Details</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-3" style="width: 50%">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ director.name | capfirst }}</td>
                        <td>Email</td>
                        <td>{{ director.email }}</td>
                    </tr>                        
                </tbody>
            </table>
        </div>

        <div class="w-100 d-flex justify-content-center">
            <a href="{% url 'director_all' %}" class="btn btn-secondary rounded-pill my-2">Back</a>
        </div>
    </div>
        
</div>

{% endblock  %}